<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Hierarchy Chart</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Hierarchy Chart", "Index", "Home", new { area = "" }, new { @class = "navbar-brand",   onclick="showPageLoadingSpinner()" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Jordi Corbilla <a href="https://github.com/JordiCorbilla/HierarchyChart">github.com/JordiCorbilla/HierarchyChart</a></p>
        </footer>
    </div>
    <div id="ajaxLoaderDiv" style="position:fixed; top:40%; left:45%; z-index:1234; display:none;">
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
</body>
</html>

<script type="text/javascript">
    function showPageLoadingSpinner() {
        $('#ajaxLoaderDiv').show();
        $('#ajaxLoaderDiv').append(
                   '<img src="@Url.Content("~/Content/Images/ajax-loader.gif")" alt="Loading..."class="ajax-loader" />'
        );
    }

    function hidePageLoadingSpinner() {
        setTimeout(function () {
            $('.ajax-loader').remove();
            $('#ajaxLoaderDiv').hide();
        }, 20000);
    }

</script>
